body {
    background-color: #f1f5f9;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    min-width: 300px;
    border-radius: 5px;
    color: black;
  }

  .ex-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  .ex-navbar .ex-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    border: 1px solid #fff;
    border-radius: 50%;
  }

  .ex-navbar span {
    font-size: 1rem;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 150px;
    margin-bottom: 20px;
  }

  .input_group{
    padding-right: 20px;
    margin-bottom: 10px;
  }

  .btn-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #test_series {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
      drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    font-size: 0.8rem;
  }

  .ex-d{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;

  }

  #stqTrue {
    width: 1rem;
    height: 1rem;
    border: 1px solid #4f46e5;
    border-radius: 5px;
    cursor: pointer;
  }


  #test_series:focus {
    outline: 1px solid #4f46e5;
  }

  .ex-label {
    font-size: 0.8rem;
    color: #4f46e5;
  }

  .ex-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4f46e5;
    color: #fff;
    cursor: pointer;
  }

  .ex-button:hover {
    background-color: black;
  }

  footer {
    display: flex;
    justify-content: space-between;
    bottom: 0;
  }

  footer a {
    color: #0078d7;
    text-decoration: none;
  }

  footer a:hover {
    text-decoration: underline;
  }

  footer span {
    font-size: 0.6rem;
  }

  footer span a {
    font-size: 0.8rem;
  }
